# Commissions

[submodule "work/foodsurvey"]
	path = work/foodsurvey
	url = git@github.com:danwdart/foodsurvey.git
	branch = master
[submodule "work/sysmon"]
	path = work/sysmon
	url = git@github.com:danwdart/sysmon.git
	branch = master
[submodule "work/todoapp"]
	path = work/todoapp
	url = git@github.com:danwdart/todoapp.git
	branch = master
[submodule "work/passport-oauth-example"]
	path = work/passport-oauth-example
	url = git@github.com:danwdart/passport-oauth-example.git
	branch = master
[submodule "work/Dan-cockatiel123"]
	path = work/Dan-cockatiel123
	url = git@github.com:danwdart/Dan-cockatiel123.git
	branch = master
[submodule "work/btreesols"]
	path = work/btreesols
	url = git@github.com:danwdart/btreesols.git
	branch = master
[submodule "work/vehicle-hire"]
	path = work/vehicle-hire
	url = git@github.com:danwdart/vehicle-hire.git
	branch = master
[submodule "work/futuretest"]
	path = work/futuretest
	url = git@github.com:danwdart/futuretest.git
	branch = master
[submodule "work/coding-test-php"]
	path = work/coding-test-php
	url = git@github.com:danwdart/coding-test-php.git
[submodule "work/coding-test-angular"]
	path = work/coding-test-angular
	url = git@github.com:danwdart/coding-test-angular.git
[submodule "work/grypp-coding-test"]
	path = work/grypp-coding-test
	url = git@github.com:danwdart/grypp-coding-test.git
[submodule "work/if-frontend-challenge"]
	path = work/if-frontend-challenge
	url = git@github.com:danwdart/if-frontend-challenge.git
[submodule "work/engage-test"]
	path = work/engage-test
	url = git@github.com:danwdart/engage-test.git
[submodule "work/4cplatform-php-coding-test"]
	path = work/4cplatform-php-coding-test
	url = git@github.com:danwdart/4cplatform-php-coding-test.git
[submodule "work/coding-test-convertize"]
	path = work/coding-test-convertize
	url = git@github.com:danwdart/coding-test-convertize.git
[submodule "work/onbuy-test"]
	path = work/onbuy-test
	url = git@github.com:danwdart/onbuy-test.git
[submodule "work/rawnet-solutions"]
	path = work/rawnet-solutions
	url = git@github.com:danwdart/rawnet-solutions.git

# Mine
[submodule "mine/multi/danos"]
	path = mine/multi/danos
	url = git@github.com:danwdart/danos.git
	branch = master
[submodule "mine/blitz/vinski"]
	path = mine/blitz/vinski
	url = git@github.com:danwdart/vinski.git
	branch = master
[submodule "mine/cpp/cricket"]
	path = mine/cpp/cricket
	url = git@github.com:danwdart/cricket.git
	branch = master
[submodule "mine/c/software-application-standard"]
	path = mine/c/software-application-standard
	url = git@github.com:danwdart/software-application-standard.git
	branch = master
[submodule "mine/docker/pooh"]
	path = mine/docker/pooh
	url = git@github.com:danwdart/pooh.git
	branch = master
[submodule "mine/docker/sanitos"]
	path = mine/docker/sanitos
	url = git@github.com:danwdart/sanitos.git
	branch = master
[submodule "mine/empty/nostalgia"]
	path = mine/empty/nostalgia
	url = git@github.com:danwdart/nostalgia.git
	branch = master
[submodule "mine/haskell/4letters"]
	path = mine/haskell/4letters
	url = git@github.com:danwdart/4letters.git
	branch = master
[submodule "mine/haskell/compositions"]
	path = mine/haskell/compositions
	url = git@github.com:danwdart/compositions.git
	branch = master
[submodule "mine/haskell/funky-birthdays"]
	path = mine/haskell/funky-birthdays
	url = git@github.com:danwdart/funky-birthdays.git
	branch = master
[submodule "mine/js/anglo"]
	path = mine/js/anglo
	url = git@github.com:danwdart/anglo.git
	branch = master
[submodule "mine/js/arsebeatfish"]
	path = mine/js/arsebeatfish
	url = git@github.com:danwdart/arsebeatfish.git
	branch = master
[submodule "mine/js/autosnope"]
	path = mine/js/autosnope
	url = git@github.com:danwdart/autosnope.git
	branch = master
[submodule "mine/js/avia"]
	path = mine/js/avia
	url = git@github.com:danwdart/avia.git
	branch = master
[submodule "mine/js/bev"]
	path = mine/js/bev
	url = git@github.com:danwdart/bev.git
	branch = master
[submodule "mine/js/dartcomm"]
	path = mine/js/dartcomm
	url = git@github.com:danwdart/dartcomm.git
	branch = master
[submodule "mine/js/drpl"]
	path = mine/js/drpl
	url = git@github.com:danwdart/drpl.git
	branch = master
[submodule "mine/js/equationsounds"]
	path = mine/js/equationsounds
	url = git@github.com:danwdart/equationsounds.git
	branch = master
[submodule "mine/js/fps"]
	path = mine/js/fps
	url = git@github.com:danwdart/fps.git
	branch = master
[submodule "mine/js/freespeech"]
	path = mine/js/freespeech
	url = git@github.com:danwdart/freespeech.git
	branch = master
[submodule "mine/js/fsm"]
	path = mine/js/fsm
	url = git@github.com:danwdart/fsm.git
	branch = master
[submodule "mine/js/gravity"]
	path = mine/js/gravity
	url = git@github.com:danwdart/gravity.git
	branch = master
[submodule "mine/js/haber"]
	path = mine/js/haber
	url = git@github.com:danwdart/haber.git
	branch = master
[submodule "mine/js/heartish"]
	path = mine/js/heartish
	url = git@github.com:danwdart/heartish.git
	branch = master
[submodule "mine/js/jammin"]
	path = mine/js/jammin
	url = git@github.com:danwdart/jammin.git
	branch = master
[submodule "mine/js/js86"]
	path = mine/js/js86
	url = git@github.com:danwdart/js86.git
	branch = master
[submodule "mine/js/jsarm"]
	path = mine/js/jsarm
	url = git@github.com:danwdart/jsarm.git
	branch = master
[submodule "mine/js/kallistarvin"]
	path = mine/js/kallistarvin
	url = git@github.com:danwdart/kallistarvin.git
	branch = master
[submodule "mine/js/movesic"]
	path = mine/js/movesic
	url = git@github.com:danwdart/movesic.git
	branch = master
[submodule "mine/js/oeis"]
	path = mine/js/oeis
	url = git@github.com:danwdart/oeis.git
	branch = master
[submodule "mine/js/omegcli"]
	path = mine/js/omegcli
	url = git@github.com:danwdart/omegcli.git
	branch = master
[submodule "mine/js/patchdeck"]
	path = mine/js/patchdeck
	url = git@github.com:danwdart/patchdeck.git
	branch = master
[submodule "mine/js/pcomm"]
	path = mine/js/pcomm
	url = git@github.com:danwdart/pcomm.git
	branch = master
[submodule "mine/js/polypropene"]
	path = mine/js/polypropene
	url = git@github.com:danwdart/polypropene.git
	branch = master
[submodule "mine/js/retroradio"]
	path = mine/js/retroradio
	url = git@github.com:danwdart/retroradio.git
	branch = master
[submodule "mine/js/scalr-phonegap"]
	path = mine/js/scalr-phonegap
	url = git@github.com:danwdart/scalr-phonegap.git
	branch = master
[submodule "mine/js/secant"]
	path = mine/js/secant
	url = git@github.com:danwdart/secant.git
	branch = master
[submodule "mine/js/serverless-prs-github"]
	path = mine/js/serverless-prs-github
	url = git@github.com:danwdart/serverless-prs-github.git
	branch = master
[submodule "mine/js/vidsort"]
	path = mine/js/vidsort
	url = git@github.com:danwdart/vidsort.git
	branch = master
[submodule "mine/js/vinski2"]
	path = mine/js/vinski2
	url = git@github.com:danwdart/vinski2.git
	branch = master
[submodule "mine/js/VypZZ"]
	path = mine/js/VypZZ
	url = git@github.com:danwdart/VypZZ.git
	branch = master
[submodule "mine/js/zepper"]
	path = mine/js/zepper
	url = git@github.com:danwdart/zepper.git
	branch = master
[submodule "mine/other/webtex"]
	path = mine/other/webtex
	url = git@github.com:danwdart/webtex.git
	branch = master
[submodule "mine/php/amqp"]
	path = mine/php/amqp
	url = git@github.com:danwdart/amqp.git
	branch = master
[submodule "mine/php/betabud"]
	path = mine/php/betabud
	url = git@github.com:danwdart/betabud.git
	branch = master
[submodule "mine/php/Bibud"]
	path = mine/php/Bibud
	url = git@github.com:danwdart/Bibud.git
	branch = master
[submodule "mine/php/evilphp"]
	path = mine/php/evilphp
	url = git@github.com:danwdart/evilphp.git
	branch = master
[submodule "mine/php/form"]
	path = mine/php/form
	url = git@github.com:danwdart/form.git
	branch = master
[submodule "mine/php/multiorm"]
	path = mine/php/multiorm
	url = git@github.com:danwdart/multiorm.git
	branch = master
[submodule "mine/php/php-async"]
	path = mine/php/php-async
	url = git@github.com:danwdart/php-async.git
	branch = master
[submodule "mine/php/php-socket"]
	path = mine/php/php-socket
	url = git@github.com:danwdart/php-socket.git
	branch = master
[submodule "mine/php/projectchaplin"]
	path = mine/php/projectchaplin
	url = git@github.com:danwdart/projectchaplin.git
	branch = master
[submodule "mine/php/sesite"]
	path = mine/php/sesite
	url = git@github.com:danwdart/sesite.git
	branch = master
[submodule "mine/php/ShareAV"]
	path = mine/php/ShareAV
	url = git@github.com:danwdart/ShareAV.git
	branch = master
[submodule "mine/php/widgeter"]
	path = mine/php/widgeter
	url = git@github.com:danwdart/widgeter.git
	branch = master
[submodule "mine/php/xenon"]
	path = mine/php/xenon
	url = git@github.com:danwdart/xenon.git
	branch = master
[submodule "mine/php/zetabud"]
	path = mine/php/zetabud
	url = git@github.com:danwdart/zetabud.git
	branch = master
[submodule "mine/pug/jolharg-theme"]
	path = mine/pug/jolharg-theme
	url = git@github.com:danwdart/jolharg-theme.git
	branch = master
[submodule "mine/shell/autopache"]
	path = mine/shell/autopache
	url = git@github.com:danwdart/autopache.git
	branch = master
[submodule "mine/shell/distruck"]
	path = mine/shell/distruck
	url = git@github.com:danwdart/distruck.git
	branch = master
[submodule "mine/shell/glitcher"]
	path = mine/shell/glitcher
	url = git@github.com:danwdart/glitcher.git
	branch = master
[submodule "mine/shell/gwallgofrwydd"]
	path = mine/shell/gwallgofrwydd
	url = git@github.com:danwdart/gwallgofrwydd.git
	branch = master
[submodule "mine/shell/install_everything"]
	path = mine/shell/install_everything
	url = git@github.com:danwdart/install_everything.git
	branch = master
[submodule "mine/shell/scrapeda"]
	path = mine/shell/scrapeda
	url = git@github.com:danwdart/scrapeda.git
	branch = master
[submodule "mine/shell/scrapepins"]
	path = mine/shell/scrapepins
	url = git@github.com:danwdart/scrapepins.git
	branch = master
[submodule "mine/nix/system"]
	path = mine/nix/system
	url = git@github.com:danwdart/system.git
	branch = master
[submodule "mine/shell/update-checker"]
	path = mine/shell/update-checker
	url = git@github.com:danwdart/update-checker.git
	branch = master
[submodule "mine/tcl/selaunch"]
	path = mine/tcl/selaunch
	url = git@github.com:danwdart/selaunch.git
	branch = master
[submodule "mine/vb6/rflvb"]
	path = mine/vb6/rflvb
	url = git@github.com:danwdart/rflvb.git
	branch = master
[submodule "mine/vb6/sevb"]
	path = mine/vb6/sevb
	url = git@github.com:danwdart/sevb.git
	branch = master
[submodule "mine/vb6/winspy"]
	path = mine/vb6/winspy
	url = git@github.com:danwdart/winspy.git
	branch = master
[submodule "mine/haskell/websites"]
	path = mine/haskell/websites
	url = git@github.com:danwdart/websites.git
	branch = master
[submodule "mine/haskell/chatter"]
	path = mine/haskell/chatter
	url = git@github.com:danwdart/chatter.git
	branch = master
[submodule "mine/haskell/dubloons"]
	path = mine/haskell/dubloons
	url = git@github.com:danwdart/dubloons.git
	branch = master
[submodule "mine/multi/projects"]
	path = mine/multi/projects
	url = git@github.com:danwdart/projects.git
	branch = master
[submodule "mine/docker/dockers"]
	path = mine/docker/dockers
	url = git@github.com:danwdart/dockers.git
	branch = master
[submodule "mine/templates"]
	path = mine/templates
	url = git@github.com:danwdart/templates.git

# contrib
[submodule "contrib/hspec-webdriver"]
	path = contrib/hspec-webdriver
	url = git@github.com:danwdart/hspec-webdriver
	branch = master
[submodule "contrib/fsutils"]
	path = contrib/fsutils
	url = git@github.com:danwdart/fsutils.git
	branch = master
[submodule "contrib/humblr"]
	path = contrib/humblr
	url = git@github.com:danwdart/humblr.git
	branch = master
[submodule "mine/haskell/jobfinder"]
	path = mine/haskell/jobfinder
	url = git@github.com:danwdart/jobfinder
[submodule "mine/haskell/family"]
	path = mine/haskell/family
	url = git@github.com:danwdart/family.git
[submodule "mine/haskell/hs-stdlib"]
	path = mine/haskell/hs-stdlib
	url = git@github.com:JolHarg/hs-stdlib.git
[submodule "contrib/barbies"]
	path = contrib/barbies
	url = git@github.com:danwdart/barbies.git
[submodule "contrib/ddate"]
	path = contrib/ddate
	url = git@github.com:danwdart/ddate.git
[submodule "contrib/frag"]
	path = contrib/frag
	url = git@github.com:danwdart/frag.git
[submodule "contrib/generic-lens"]
	path = contrib/generic-lens
	url = git@github.com:danwdart/generic-lens.git
[submodule "contrib/generics-sop"]
	path = contrib/generics-sop
	url = git@github.com:danwdart/generics-sop.git
[submodule "contrib/hs-gedcom"]
	path = contrib/hs-gedcom
	url = git@github.com:danwdart/hs-gedcom.git
[submodule "contrib/hs-webdriver"]
	path = contrib/hs-webdriver
	url = git@github.com:danwdart/hs-webdriver.git
[submodule "contrib/imap"]
	path = contrib/imap
	url = git@github.com:danwdart/imap.git
[submodule "contrib/nixos-manager"]
	path = contrib/nixos-manager
	url = git@github.com:danwdart/nixos-manager.git
[submodule "contrib/peoplemon"]
	path = contrib/peoplemon
	url = git@github.com:danwdart/peoplemon.git
[submodule "contrib/quickspec"]
	path = contrib/quickspec
	url = git@github.com:danwdart/quickspec.git
[submodule "contrib/tree-diff"]
	path = contrib/tree-diff
	url = git@github.com:danwdart/tree-diff.git
[submodule "contrib/twee"]
	path = contrib/twee
	url = git@github.com:danwdart/twee.git
[submodule "contrib/wai"]
	path = contrib/wai
	url = git@github.com:danwdart/wai.git
[submodule "contrib/patch"]
	path = contrib/patch
	url = git@github.com:danwdart/patch.git
[submodule "contrib/reflex-gloss"]
	path = contrib/reflex-gloss
	url = git@github.com:danwdart/reflex-gloss.git
[submodule "contrib/wordle-hs"]
	path = contrib/wordle-hs
	url = git@github.com:danwdart/wordle-hs.git
[submodule "mine/haskell/coinflicker"]
	path = mine/haskell/coinflicker
	url = git@github.com:danwdart/coinflicker.git
[submodule "contrib/nix-home-manager"]
	path = contrib/nix-home-manager
	url = git@github.com:danwdart/nix-home-manager.git
[submodule "contrib/home-manager"]
	path = contrib/home-manager
	url = git@github.com:danwdart/home-manager.git
[submodule "contrib/house"]
	path = contrib/house
	url = git@github.com:danwdart/house.git
[submodule "mine/nix/haskell-tools"]
	path = mine/nix/haskell-tools
	url = git@github.com:danwdart/haskell-tools.git
[submodule "work/equals"]
	path = work/equals
	url = git@github.com:danwdart/equals.git
[submodule "work/roqqett"]
	path = work/roqqett
	url = git@github.com:danwdart/roqqett.git
[submodule "other/CloudFail"]
	path = other/CloudFail
	url = git@github.com:m0rtem/CloudFail.git
[submodule "other/ged2dot"]
	path = other/ged2dot
	url = git@github.com:vmiklos/ged2dot.git
[submodule "other/leapcast"]
	path = other/leapcast
	url = https://github.com/dz0ny/leapcast.git
[submodule "other/sandsifter"]
	path = other/sandsifter
	url = git@github.com:xoreaxeaxeax/sandsifter.git
[submodule "other/sdrangel-docker"]
	path = other/sdrangel-docker
	url = git@github.com:f4exb/sdrangel-docker.git
[submodule "other/srm-compressor"]
	path = other/srm-compressor
	url = git@github.com:Danixu/srm-compressor.git
[submodule "contrib/hs-digits"]
	path = contrib/hs-digits
	url = git@github.com:danwdart/hs-digits.git
[submodule "mine/haskell/archery"]
	path = mine/haskell/archery
	url = git@github.com:danwdart/archery.git
[submodule "mine/haskell/hs-openfaas"]
	path = mine/haskell/hs-openfaas
	url = git@github.com:JolHarg/hs-openfaas.git
[submodule "mine/haskell/kasmveh"]
	path = mine/haskell/kasmveh
	url = git@github.com:danwdart/kasmveh.git
[submodule "mine/haskell/openfaas-examples"]
	path = mine/haskell/openfaas-examples
	url = git@github.com:JolHarg/hs-openfaas-examples
[submodule "mine/haskell/bots"]
	path = mine/haskell/bots
	url = git@github.com:JolHarg/hs-bots.git
[submodule "mine/md/danwdart"]
	path = mine/md/danwdart
	url = git@github.com:danwdart/danwdart.git
[submodule "contrib/call-stack"]
	path = contrib/call-stack
	url = git@github.com:danwdart/call-stack.git
[submodule "other/andiodine"]
	path = other/andiodine
	url = https://gitlab.com/andiodine/andiodine.git
[submodule "mine/md/jolharg-github"]
	path = mine/md/jolharg-github
	url = git@github.com:JolHarg/.github.git
